/* CSS Normalize and reset */

:root {
   line-height: 1.5;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

ol[role="list"],
ul[role="list"] {
   list-style: none;
   padding-inline: 0;
}

ul {
   list-style-type: none;
}

input,
button,
textarea,
select {
   font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/*********************************/
/*********************************/
/**** CSS Normalize and reset ****/
/*********************************/
/*********************************/

body {
   background-color: #1f1f1f;
   color: #eee;
   display: grid;
   grid-template-columns: 1fr 3fr;
}

.sidebar {
   padding: 1em;
   min-height: 100vh;
   border-right: 1px solid;
}

.main {
   padding: 2em;
   padding-top: 4em;
   min-height: 100vh;
}

.selected {
   background-color: #ffffff33;
}